@media screen and (max-width: 1414px) { 
    main {
        padding: 50px 150px; 
    }
}

@media screen and (max-width: 1034px) { 
    main {
        padding: 50px 100px; 
    }
}

@media screen and (max-width: 568px) { 
    main {
        padding: 50px; 
    }
}